# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/
tmp/*
!*/.gitkeep
/projects/*/
/projects/lara-shop/
/projects/aimeos-shop/
.env
/data/*/
/vendor
.idea
.vagrant
Homestead.json
Homestead.yaml
_ide_helper.php
.phpstorm.meta.php
.DS_Store
.env.*
storage/logs
!.env.local