####### Postgres settings
# PG_PORT=5432

####### MySQL settings
# MY_PORT=3306

####### PGAdmin settings
# PGADMIN_PORT=5050

####### Nginx settings
# NGINX_PORT_80=80
# NGINX_PORT_443=443

####### Weave Scope settings
# WS_PORT=4040

####### Redis settings
# REDIS_PORT=6379

####### RabbitMQ settings
# RABBIT_PORT_5672=5672
# RABBIT_PORT_15671=15671
# RABBIT_PORT_15672=15672

##### Common config variables
# ENV=local
